<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <title>Química Elohim-Servicio técnico</title> 
     <%- include('./partials/head') %>
    <body>
        <main>
           
                
                <!-- HEADER -->
                <%- include('./partials/header') %>
                <section class="servicioTecnico">
               
                    <div class="shopping-cart">
                        <img src="/images/logos/logo17.png" class="shoppingCartLogoTecnico" alt="logo">
                        <h1>Representante Oficial</h1>
                    </div>
                
                <div class="contact-container">
                    <div class="contact-title"><h5>Dudas o sujerencias, contactarse con los siguientes números:</h5>
                    <div class="contactos">
                    <ul >
                        <li>
                            <img src="/images/logos/logo16.png" class="shoppingCartLogoRepresent" alt="logo">
                            <p><strong>Pedro Sauma (Gran Mendoza)</strong>: 261 7061148</p>
                            
                        </li>
                        
                        <li>
                            <img src="/images/logos/logo16.png" class="shoppingCartLogoRepresent" alt="logo">
                            <p><strong>Jorge Miranda (Zona Sur)</strong>: 260 4848050</p>
                        </li>
                    </ul>
                </div>
                    <div class="stEmail">
                        <i class="fa-solid fa-envelope"></i>
                        <h4>quimicaelohim@gmail.com</h4>
                    </div>
                </div>
                
                <div id="map"></div>
                </div>
                <div class="garantia">
                    <ul>
                        <li> <strong>Calidad garantizada</strong></li>
                        <li><strong>Envíos a toda la provincia</strong></li>
                    </ul>
                    
                </div>
                
            </section>
            

   
        </main>
        <!-- FOOTER -->
        <%- include('./partials/footer') %>
    <script src="/js/googlemap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMBlbASW5UmsDl70Fz5adUnfNA3zRDwoo&callback=iniciarMap"></script>
    </body>
</html>