<header>
    <!-- Encabezado -->
    <div class="container-header">
        <!-- Icono burger menu -->
        <div class="burger-menu">
            <i class="background-burger fa-solid fa-bars" ></i>
        </div>
        <!-- Categorías mobile -->
        <div class="cont-menu active" id="menu">
            <!-- Logos burger menu -->
            <div class="logo logo-burgerMenu">                
                <div><img src="/images/logos/logo16.png" class="logo logo-menu" alt="Logo"></div>
                <div><i class="background-burger fa-solid fa-xmark burger-close"></i></div>
            </div>
            <!-- Categorías burger menu -->
            <ul>
                <% if (locals.usuario && locals.usuario.role == 9) { %>
                <li><a  href='/product/create'>Crear Producto</a></li> 
                <% } %>
                <li><a  href='/product'>Todos Los Productos</a></li>
                <li><a  href='/phones'>Celulares</a></li> 
                <li><a  href='/tablets'>Tablets</a></li> 
                <li><a  href='/laptops'>Laptops</a></li> 
                <li><a  href='/service'>Servicio Técnico</a></li>
            </ul>
        </div>
        <!-- Logo -->
        <div class="logo">                
            <a href="/" title="Principal"><img src="/images/logos/logo15.png" class="logo logo-15" alt="Logo"></a>
            <a href="/" title="Principal"><img src="/images/logos/logo16.png" class="logo logo-16 " alt="Logo"></a>  
        </div>
        <!-- Search desktop y tablet --> 
        <div class="search-bar-1">
            <form action="/search" method="GET">
                <input class="input-header" type="text" placeholder="Busca tu producto" name="search1">
                <button>
                    <i class="fa fa-search" style="font-size: 16px;"></i>
                </button>     
            </form>
        </div> 


        <% if (locals.usuario && locals.usuario.role == 9){ %>
            <!--Cuando ha iniciado secion y es admin -->
            <!-- Imagen usuario -->
            <div class="user-img">
                <img  src="/images/users/<%=locals.usuario.image_product %>"  alt="usuario">
            </div>
            <!-- Logout -->
            <div class="user-login">
                <a href="/user/logout"  title="Logout" class="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <!-- Carrito -->
            <div class="carrito-compra">
                <a href="/product/productCart" id="cart-icon" title=" Tus Compras">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>           
            </div>
        <% } else if (locals.usuario) { %>
            <!-- Logout -->
            <div class="user-login">
                <a href="/user/logout"  title="Logout" class="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        <% } else{ %>
            <!--Cuando no ha iniciado secion no quiero mostrar nada -->
            <!--div class="user-login">
                <a href="/user/login"  title="login"><i class="fa-solid fa-circle-user"></i></a>
            </div-->
        <% } %>
    </div>

    <!-- Search mobile -->
    <div class="search-bar-2">
        <form action="/search" method="GET">
            <input class="input-header" type="text" placeholder="Busca tu producto" name="search2">
            <button>
                <i class="fa fa-search" style="font-size: 16px;"></i>
            </button>     
        </form>
    </div>

    <!-- Categorías desktop y tablet -->
    <div class="header-menu">                
        <div class="menu">                
            <nav>
                <ul>
                    <% if (locals.usuario && locals.usuario.role == 9) { %>
                        <li><a href='/product/create'>Crear Producto</a></li> 
                    <% } %>
                    <li><a href='/product'>Todos Los Productos</a></li>
                    <li><a href='/phones'>Celulares</a></li> 
                    <li><a href='/tablets'>Tablets</a></li> 
                    <li><a href='/laptops'>Laptops</a></li> 
                    <li><a href='/service'>Servicio Técnico</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>